<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
      <typeAlias type="com.company.domain.BoardDTO" alias="Board"></typeAlias>
      <typeAlias type="com.company.domain.ImageDTO" alias="Image"></typeAlias>
      <typeAlias type="com.company.domain.ReplyDTO" alias="Reply"></typeAlias>
    </typeAliases>
    
</configuration>